@import url(global.css);
@import url(utilities.css);
@import url(header.css);
@import url(main.css);
@import url(form.css);

#container {
    max-width: 71.1rem;
    margin-inline: auto;
    padding: 8rem 1.6rem;
}

#brand {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-tertiary);
    padding: 1.2rem 2rem;
    border-bottom-right-radius: 1.6rem;
}